body{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 5rem 1fr 3rem;
    grid-template-areas: "header header header"
                         "main main main"
                         "footer footer footer";
    padding: .2rem;
    width: 100%;
    height: 100%;
}

header{
    grid-area: header;
    text-align: center;
}

main{
    grid-area: main;
}

article{
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "column1 column1 column3 column2 column2"
                         "column4 column4 column3 column5 column5";
    justify-items: center;
}


main button {
    width: 24rem;
    height: 3rem;
}

.main_tittle{
    display: none;
}

.main_registrar{
    grid-area: column1;
}

.main_solicitar{
    grid-area: column2;
}

.main_atender {
    grid-area: column3;
}

.main_listar--clientes--espera{
    grid-area: column4;
}

.main_listar--clientes--atendidos{
    grid-area: column5;
}

#lista_clientes_espera, #lista_clientes_atendidos{
    text-align: center;
    border: black solid .1rem;
    font-size: 2rem;
}

#lista_clientes_espera td, #lista_clientes_atendidos td{
    padding: .5rem;
}

footer{
    grid-area: footer;
    text-align: center;
    padding: 1rem;
}